* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(152, 152, 236, 0.352); */
    background-color: #9898ec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

header {
    position: sticky;
    top: 0;
    width: 100%;
}

header nav {
    height: 90px;
    width: 100%;
    background-color: white;

}

nav {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
    gap: 70px;
    /* margin-top: 20px; */
    font-size: 20px;

}

.img {
    height: 70px;
    width: 160px;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}

.intro {
    /* border: 2px solid black; */
    height: 400px;
    width: 700px;
    padding: 100px;
    margin: 20px;

    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.weight {
    font-weight: 600;
    font-size: 55px;
    color: rgb(26, 6, 84);
}

.hi {
    font-weight: 500;
    color: rgb(26, 6, 84);
}

.myname {
    font-size: 20px;
    font-weight: 350;
}

.hireme {

    width: 10vw;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 0, 0, 0.772);
    cursor: pointer;
}

.image {
    /* border: 2px solid black; */
    height: 500px;
    width: 450px;
    /* padding: 100px 0px 0px 100px; */
    margin: 100px;

}

.myimage {
    height: 497px;
    width: 447px;
    object-fit: cover;
    border-radius: 10px;

}

.sec2 {
    display: flex;
    /* gap: 50px;     */
    justify-content: space-around;
}

.skill {
    color: rgba(255, 0, 0, 0.772);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.language {
    /* height: 200px; */
    width: 550px;
    /* border: 2px solid black; */
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.langlogo {
    display: flex;
    column-gap: 22px;
}

.ticmarkimg {
    /* border: 2px solid black; */
    height: 511px;
    width: 490px;
}

.tick {
    height: 505px;
    width: 487px;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.sec3 {
    /* height: 600px; */
    width: 100%;
    /* border: 2px solid red; */
    padding: 20px 20px 20px 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 64, 0.751);
    color: white;
}

.project1 {
    border: 4px solid aqua;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    align-items: center;
}

.netflix {
    height: 250px;
    width: 395px;
    object-fit: cover;
}

.project2 {
    border: 4px solid aqua;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    align-items: center;
}

.ultraedit {
    height: 250px;
    width: 392px;
    object-fit: cover;
    object-position: top;
}

.project3 {
    border: 4px solid aqua;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    align-items: center;
}

.boatcard {
    height: 250px;
    width: 395px;
    object-fit: cover;
    object-position: top;
}

.center {
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.learnmore {
    width: 10vw;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgba(3, 3, 64, 0);
    cursor: pointer;
    text-align: center;
    font-size: 15px;

}

.padd {
    padding-top: 3px;
    margin-left: 10px;
}

.sec4 {
    border: 2px solid black;
    /* height: 600px; */
    width: 100%;
    /* margin-top: 5px; */
    background-color: white;

}

.sec {
    display: flex;
}

.contact {
    color: red;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

#email {
    margin: 50px 10px 20px 70px;
    height: 50px;
    max-width: 47vw;
    padding: 2px 0px 0px 20px;
}

#message {
    margin: 50px 10px 20px 70px;
    height: 150px;
    min-width: 47vw;
    padding: 12px 0px 0px 20px;

}

.contactme {
    display: flex;
    flex-direction: column;
}

.sendmess {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 20px 70px;
    padding: 15px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background-color: rgba(3, 3, 64, 0.751);
}

.footer {
    border: 2px solid black;
    height: 500px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(3, 3, 64, 0.751);
    ;
}

.socialmedia {
    /* margin-left: 100px; */
}

a {
    color: rgb(0, 200, 255);
    text-decoration: none;
}

@media screen and (max-width:1310px) {
    header {
        position: sticky;
        width: max-content;
        top: 0;


    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        /* align-items: center;
        justify-content: center;
        text-align: center; */
    }

    .sec1 {
        /* display: flex; */
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .sec2 {
        /* display: flex; */
        flex-direction: column;

    }

    .sec4 {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sec5 {
        /* display: flex; */
        flex-direction: column;
        /* width: 100%; */
    }

    .lastimg {
        height: 250px;
        width: 350px;
    }

    .sec {

        flex-direction: column;
    }

    .sendmess {
        width: 200px;
    }

    .contact {

        margin: 40px;
    }

    .image {
        height: 400px;
        width: 350px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .myimage {
        height: 350px;
        width: 284px;
        /* justify-content: center;
        text-align: center;
        align-items: center ; */
    }

    .skill {
        margin-top: 0px;
    }

    body {
        display: block;
        width: 100%;
    }

    .intro {
        width: 400px;
        justify-content: center;
        margin-top: 50px;
    }

    .ticmarkimg {
        margin-left: 60px;
        /* text-align: center; */
    }

    .tick {
        height: 350px;
        width: 400px;
    }

    .language {
        width: 400px;
    }

    .hireme {
        width: 20vw;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 100px;
    }

    .netflix {
        height: 184px;
        width: 337px;
        object-fit: cover;
    }

    .project1 {
        height: 350px;
        width: 350px;
    }
    .ultraedit {
        height: 191px;
        width: 339px;
    }

    .project2 {
        height: 350px;
        width: 350px;
    }
    .boatcard {
        height: 193px;
        width: 341px;
        
    }

    .project3 {
        height: 350px;
        width: 350px;
    }

    .learnmore {
        width: 30vw;
        margin-top: 15px;
    }
    main{
        width: fit-content;
    }
    footer{
        width: fit-content;
    }
}